.topnav {
    background-color: #369b63;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Edit and Delete links */

.midnav {
    background-color: #369b63;
    overflow: hidden;
}

.midnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.midnav a:hover {
    background-color: #ddd;
    color: black;
}

.midnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Login */

@import url(https://fonts.googleapis.com/css?family=Tenor+Sans);
html {
  background-color: #369b63;
  font-family: "Tenor Sans", sans-serif;
}

.title {
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: white;
}

.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.login {
  margin-top: 50px;
  width: 450px;
}

.login-heading {
  font: 1.8em/48px "Tenor Sans", sans-serif;
  color: white;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  border: none;
  font-size: 1em;
  color: #369b63;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #369b63;
}
.input-txt:-ms-input-placeholder {
  color: #369b63;
}
.input-txt::-webkit-input-placeholder {
  color: #369b63;
}
/*.input-txt:focus {
  background-color: #FFFf;
}*/

.login-footer {
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}

.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  color: #5D92BA;
}

.btn--right {
  float: right;
}

.icon {
  display: inline-block;
}

.icon--min {
  font-size: .9em;
}

.lnk {
  font-size: .8em;
  line-height: 3em;
  color: white;
  text-decoration: none;
}
