<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Bill</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <h1>Add New Bill</h1>

    <form action="/bills" method="post">

      <label for="name">Name of Bill:</label>
      <input type="text" placeholder="Electricity" name="name">
      <br></br>

      <label for="amount">Amount Owed:</label>
      <input type="number" placeholder="65.00" step="0.001" name="amount">
      <br></br>

      <label for="due date">Due date:</label>
      <input type="text" placeholder="March 12, 2017" name="due_date">

      <input type="submit" value="Add Bill">

    </form>

  </body>
</html>
