<a href="/bills">Home</a>
<a href="/bills/new">New Bill</a>
<a href="/logout">Log Out</a>

<h1>Add New Bill</h1>

<form action="/bills" method="post">

  <label for="name">Name of Bill:</label>
  <input type="text" placeholder="Electricity" name="name">
  <br></br>

  <label for="amount">Amount Owed:</label>
  <input type="number" placeholder="65.00" step="0.001" name="amount">
  <br></br>

  <label for="due date">Due date:</label>
  <input type="text" placeholder="March 12, 2017" name="due_date">
  <br></br>

  <input type="submit" value="Add Bill">

</form>
