<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Bill</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Bill</span> Tracker</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/bills/new">New Bill</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Welcome to Bill Tracker</h1>
        <p>Add Bill</p>
      </div>
    </section>

    <!-- <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %> -->

    <form class="form" action="/bills" method="post">
      <input type="text" placeholder="Name of bill" name="name" required="required">
      <br></br>
      <input type="number" placeholder="Amount Owed" step="0.001" name="amount" required="required">
      <br></br>
      <input type="text" placeholder="Due Date" name="due_date" required="required">
      <br></br>
      <button class="button_1" type="submit">Create Bill</button>
    </form>

    <footer>
      <p>Bill Tracker, Copyright &copy; 2017</p>
    </footer>

  </body>
</html>
