<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bill Tracker | Welcome</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <!-- <img src="images/coins.png" alt="Bills"> -->

    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Bill</span> Tracker</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Welcome to Bill Tracker</h1>
        <p>Bill tracker offers you a convenient way to organize and stay on top of your bills.</p>
      </div>
    </section>

    <section id="login">
      <div class="container">
        <a href="/signup">Signup</a>
        <a href="/login">Log In</a>
      </div>
    </section>

    <!-- <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="images/logo_html.png" alt="HTML logo">
          <h3>Name of bill</h3>
          <p>What's the name of the bill you want to track?</p>
        </div>
        <div class="box">
          <img src="images/logo_css.png" alt="CSS logo">
          <h3>Amount Owed</h3>
          <p>How much is it?</p>
        </div><div class="box">
          <img src="images/logo_brush.png" alt="Brush logo">
          <h3>Due Date</h3>
          <p>When's it due?</p>
        </div>
      </div>
    </section> -->

    <footer>
      <p>Bill Tracker, Copyright &copy; 2017</p>
    </footer>

  </body>
</html>
